@media (min-width: 1024px) {
  /* Generelt */
  main {
    margin: var(--space-lg);
    max-width: 1200px;
    margin-inline: auto;
  }

  h1 {
    font-size: 14rem;
    font-weight: 400;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    max-width: 45ch;
  }

  /* Forside */

  #ide {
    position: absolute;
    width: 40%;
    aspect-ratio: 2/0;
    top: 12%;
    left: 51%;
  }
  .box {
    margin-left: 7rem;
    margin-top: 1rem;
  }

  .stribe {
    top: 100%;
    width: 80%; /* Striben fylder hele bredden */
    height: 50px; /* Justér højden på striben */
  }

  .tidslinje-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Tidslinje til venstre og tekst til højre */
    gap: 100px; /* Afstand mellem kolonnerne */
    align-items: start;
    padding: 20px;
    margin-top: 15rem;
  }

  .tidslinje-tekst p {
    max-width: 51ch;
  }

  .tidslinje-tekst {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .tidslinje-punkter {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .slideshow-container {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: var(--space-lg);
  }

  /* Portfolio */

  .linje {
    width: 100%;
    margin-bottom: var(--space-sm); /* Margen forneden */
    margin-left: 0;
  }
  details p {
    max-width: 65ch;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--space-xl);
    grid-column-gap: 80px;
  }
  img {
    max-width: 500px;
  }
  .flex {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex; /* Gør .box-2 til en flex-container */
    justify-content: center; /* Centrerer indholdet vandret (fra venstre til højre) */
  }
  .proces {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .billede {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .space_bottom {
    margin-bottom: 3.6rem;
  }
  /* CV */

  .tekst {
    max-width: 65ch;
  }
  .flex2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex; /* Gør .box-2 til en flex-container */
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 11rem;
  }
  .mellemrum {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
  }

  .ikoner {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .details {
    grid-column: 1/3;
  }
}
