/* ****************** GENERELT ****************** */

:root {
  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;
  --space-xl: 5rem;

  /* Farver */
  --primary: #b4d7ff;
  --secondary: #2273f3;
  --tertiary: #ffffff;
  --quarternary: #151515;
  --accent: #ff8630;

  /* Fonte */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

html {
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
  color: var(--secondary);
  margin-top: var(--space-md);
}

h2,
h3 {
  color: var(--quarternary);
  margin-bottom: var(--space-xs);
}

p,
ul {
  font-family: var(--font-secondary);
  font-weight: 350;
  font-size: 1rem;
  max-width: 35ch;
  margin-bottom: var(--space-sm);
}

ul {
  list-style-position: inside; /* Justér punkterne inden for marginen */
}

a {
  font-family: var(--font-secondary);
}

.knap {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 1rem;
}

main {
  margin: var(--space-sm);
}

/* ****************** MENU ****************** */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary);
  z-index: 100;
}

header .logo a {
  color: var(--tertiary);
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

header .logo a:hover {
  color: var(--accent);
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--tertiary);
  text-decoration: none;
  text-align: end;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--accent);
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 101; /* Sørg for, at burger-menuen er foran */
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--tertiary);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: var(--secondary);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 1rem;
  }
}

/******************** FOOTER *******************/
footer {
  background-color: var(--secondary); /* Blå baggrund */
  color: var(--tertiary); /* Hvid tekst */
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.grid2_1-1 {
  display: flex; /* Brug Flexbox til at arrangere elementerne horisontalt */
  justify-content: space-between; /* Placer venstre og højre sektion adskilt */
}

.footer_navn,
.footer_kontakt {
  display: flex;
  flex-direction: column; /* Sørger for at teksten i hver sektion står vertikalt */
}

.footer_navn p,
.footer_kontakt p {
  margin: 0; /* Fjerner margin omkring tekst */
  font-size: 1rem; /* Justerer tekststørrelsen */
}

/* ****************** FORSIDE ****************** */

.knap {
  display: inline-flex; /* knappen tilpasser sin bredde til sit indhold (teksten).*/
  align-items: center;
  color: var(--tertiary);
  background-color: var(--accent);
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: var(--space-md);
  position: relative; /* Sørg for, at z-index fungerer */
  z-index: 10;
}

.knap a {
  text-decoration: none;
  color: #ffffff;
}

.knap .pil {
  width: 6px;
  height: 6px;
  border-right: 2px solid var(--tertiary);
  border-bottom: 2px solid var(--tertiary);
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.knap:hover {
  background-color: var(--quarternary);
  transform: scale(1.05);
}

.knap:hover .pil {
  transform: rotate(-45deg) translate(4px, 4px);
}

#ide {
  position: absolute;
  width: 60%;
  aspect-ratio: 2/0;
  top: 34%;
  left: 35%;
}

.stribe {
  position: absolute;
  top: 90%;
  width: 92%; /* Striben fylder hele bredden */
  height: 30px; /* Justér højden på striben */
  background-color: var(--tertiary); /* Hvid farve */
}

.tidslinje-container {
  margin-top: 17rem;
}

.tidslinje-tekst {
  text-align: left;
}

.tidslinje-tekst h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tidslinje-tekst p {
  font-size: 1rem;
  max-width: 40ch;
}

.tidslinje-punkter {
  border-left: 3px solid var(--secondary); /* Lodret linje til tidslinjen */
}

.tidslinje-tema {
  position: relative;
  margin-bottom: var(--space-sm);
  padding-left: var(--space-sm);
}

.tidslinje-tema::before {
  content: "";
  position: absolute;
  left: -11px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: var(--secondary); /* Cirkelens farve */
  border-radius: 50%; /* Gør det til en cirkel */
  border: 3px solid var(--tertiary);
}

.tidslinje-tema h3 {
  margin-bottom: var(--space-xs);
  color: var(--secondary);
}

.slideshow-container {
  width: 100%;
  max-width: 600px; /* Du kan ændre størrelsen på slideshowet */
  margin-left: 0; /* Placerer containeren til højre */
  margin-right: auto; /* Ingen margin til højre */
  position: relative;
}

/* Skjul billederne, indtil de skal vises */
.slide {
  display: none;
  width: 100%;
  border-radius: 10px; /* Runde hjørner på billeder */
}

/* Vis det første billede */
.slide:first-child {
  display: block;
}

/* ****************** PORTFOLIO ****************** */

.linje {
  border: 0;
  border-top: 1px solid var(--accent);
  width: 100%;
  margin: 0 auto var(--space-sm);
}

details {
  margin-bottom: var(--space-sm); /* Giver samme spacing som andre elementer */
  background-color: var(--primary); /* Hvid baggrund som kontrast */
}

summary {
  font-family: var(--font-primary); /* Matcher dine overskrifter */
  font-weight: 600;
  font-size: 1.2rem; /* Lidt større tekst */
  cursor: pointer;
  color: var(--secondary); /* Samme blå som andre links */
  margin-bottom: var(--space-xs); /* Ensartet spacing under summary */
}

summary:hover {
  text-decoration: none;
  color: var(--accent); /* Giver en hover-effekt med accentfarven */
}

details p {
  max-width: 45ch;
}

.emnesite {
  border-radius: 20px;
}

.ikoner {
  margin-bottom: var(--space-md);
}

/**** CV ****/

.tekst {
  max-width: 45ch;
}

ul {
  list-style-type: none; /* Fjern de normale punkttegn */
}

.liste {
  font-size: 18px; /* Større skrift */
  color: var(--quarternary); /* Mørk tekstfarve */
  background-color: var(--tertiary); /* Lys baggrund */
  padding: 10px; /* Indre afstand omkring tekst */
  margin-bottom: 5px; /* Lidt afstand mellem hvert punkt */
  border-radius: 5px; /* Runde hjørner på hver listepost */
  transition: background-color 0.3s ease; /* Smidig overgang ved hover */
  border: 2px solid var(--secondary);
}

.liste:hover {
  background-color: #e0e0e0; /* Ændre baggrundsfarve, når man holder musen over */
}
